.container {
  background-color: white;
  width: 700px;
  margin: 20px 300px;
  box-shadow: 0 0 10px black;
  height: 500px;
}
.monday {
  display: block;
}
.day{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    width: 100px;
}
.lesson {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}
